* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#block {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(9, 7, 7);
    margin: 20px;
    
}

.red {
    background-color: red
}